<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mklinkj.qna.spring_data_jpa_pageable.mapper.EmployeeMapper">
  <select id="findAll" resultType="employee">
    SELECT id,
           name
      FROM t_employee
  </select>

  <select id="countAll" resultType="int">
    SELECT COUNT(*)
    FROM t_employee
  </select>

</mapper>