<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org.mklinkj.qna" level="DEBUG"/>

    <Logger name="org.apache.tomcat.util.scan" level="TRACE"/>
    <Logger name="org.apache.jasper.servlet" level="TRACE"/>
    <Logger name="org.eclipse.jetty.ee8.apache.jsp" level="DEBUG"/>

    <Root level="INFO">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>