# default value is "log" 
lombok.log.fieldName=LOGGER

# default value is "true"
lombok.log.fieldIsStatic=true

# lombok.copyableAnnotations+={패키지 포함 전체 어노테이션 클래스 이름},...

config.stopBubbling = true
lombok.data.flagUsage=error
lombok.value.flagUsage=error
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.allArgsConstructor.flagUsage=error
lombok.requiredArgsConstructor.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.experimental.flagUsage=error