<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="side">
  <div class="nav">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a th:href="@{#}" class="text-dark h6 text-decoration-none">Side Menu 01</a></li>
      <li class="list-group-item"><a th:href="@{#}" class="text-dark h6 text-decoration-none">Side Menu 02</a></li>
      <li class="list-group-item"><a th:href="@{#}" class="text-dark h6 text-decoration-none">Side Menu 03</a></li>
      <li class="list-group-item"><a th:href="@{#}" class="text-dark h6 text-decoration-none">Side Menu 04</a></li>
      <li class="list-group-item"><a th:href="@{#}" class="text-dark h6 text-decoration-none">Side Menu 05</a></li>
    </ul>
  </div>
</th:block>
</body>
</html>
